
body{
    /* margin: 11px; */
    margin: 0px;
}

#logo{
    height: 45%;
    margin-top: 78px;
}

#header-parte-1{
    height: 190px;
    background-image: url(img/pattern.png);
    background-size: ;
    background-repeat: repeat;
    background-color: #50A0FF;
}

h1 {
    margin-bottom: 5px;
}

#autore-1{
    color: #A9A9A9;
    font-size: 150%;
}

#autore-2{
    color:#50A0FF;
    font-size: 150%;
}

#data{
    color: #A9A9A9;
}

